@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
 



@layer base{
    h1{
        font-size: 3.75rem;
        font-weight: 800;
        color: #fff;
    }
    h2{
        font-size: 3rem;
        color: #fff;
    }
    h3{
        font-size: 3rem;
        font-weight: bold;
        color: #00FF88;
    }
    h4{
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
    p{
        font-size: 1rem;
        line-height: 20px;
        color: #fff;
    }
}
@layer utilities{
    .contain{
        max-width: 1200px;
        margin: 0 auto;
    }
    .font-inter{
        font-family: "Inter", sans-serif;
    }
    
}



/* Responsive For medium Screen */

@media screen and (max-width:992px){
    .contain{
        width: 98%;
    }
}


/* Responsive for mobile divices */

@media screen and (max-width: 576px){
    h1{
        font-size: 40px;
    }
    .contain{
        width: 95%;
    }
    .menu, .btn{
        display: none;
    }
    .menu-icon{
        display: inline;
    }

    .podcast-box{
        flex-wrap: wrap;
    }
}



