@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
 



@layer base{
    h1{
        font-size: 3.75rem;
        font-weight: 800;
        color: #fff;
    }
    h2{
        font-size: 3rem;
        color: #fff;
    }
    h3{
        font-size: 3rem;
        font-weight: bold;
        color: #00FF88;
    }
    h4{
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
    h5{
        font-size: 1rem;
        font-family: bold;
        color: #fff;
    }
    p{
        font-size: 1rem;
        line-height: 20px;
        color: #ffffffa5;
    }
}
@layer utilities{
    .contain{
        max-width: 1200px;
        margin: 0 auto;
    }
    .font-inter{
        font-family: "Inter", sans-serif;
    }

    .card{
        background-color: #35116540;
        padding: 40px;
        border: none;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .f-card{
        
        background-color: #250D44;
        border: none;
        border-radius: 30px;
        overflow: hidden;
    }

    .f-card iframe{
        width: 100%;
        height: 220px;
    }
    .content-box h3{
        color: #fff;
    }
    .content-box img{
        width: 60px;
        height: 60px;
        padding: 14px;
        border: 1px solid #533C72;
        border-radius: 50%;
    }
    
}



/* Responsive For medium Screen */

@media screen and (max-width:992px){
    .contain{
        width: 98%;
    }
}


/* Responsive for mobile divices */

@media screen and (max-width: 576px){
    h1{
        font-size: 40px;
    }
    .contain{
        width: 95%;
    }
    .menu, .btn{
        display: none;
    }
    .menu-icon{
        display: inline;
    }

    .new-badge{
        left: 64%;
        bottom: 50%;
    }

    .podcast-box{
        flex-wrap: wrap;
    }

    .card-box{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .card{
        width: 100%;
    }

    .featured-card-box{
        flex-direction: column;
    }

    .host-box{
        flex-direction: column;
    }
    .content-box{
        text-align: center;
    }
}



